[data-menu='button']{
    display: none;
}


@media (max-width: 700px){
    .js [data-menu='button']{
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
        background: #222 ;
        padding: .5rem 1rem;
        gap: 5px;
        height: 30px;
        border-radius: 4px;
        text-transform: uppercase;
        font-family: sans-serif;
        font-weight: bold;
        color: white;
        cursor: pointer;
        margin: 10px;
        position: relative;
        z-index: 200;
    }


    .js [data-menu='button']::before{

        content: '';
        height: 2px;
        width: 12px;
        display: inline-block;
        background: #fff;
        box-shadow: 0 4px #fff, 0 -4px #fff;
        transition: transform .3s;
    }

    .js [data-menu="list"] {
        display: none; 
        position: absolute;
        background: #fb5;
        z-index: 100;
        width: 160px;
        padding: 60px 0 20px 0;
        top: 0;
        box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, .5);
       
    }


    .js [data-menu="list"].activated {
        display: block;
        animation: show-right .3s forwards;

    }

    .js [data-menu='button'].activated::before{
        transform: rotate(90deg);

    }

    .js .dropDown{
        position: static;
        border: none;
    }
}
