@import url(../CSS/global.css);

:root {
    --background-cor: #faf6ed;
    --cor-preta: #222;
    --backroung-menu: #fB5;

}

html.textomaior {

    text-transform: uppercase;

}

body {

    background: var(--background-cor);
    color: var(--cor-preta);
    -webkit-font-smoothing: antialiased;
    display: grid;
    grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
}

.menu {

    grid-column: 3/5;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: var(--backroung-menu);
}

.menu ul {

    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.menu li a {
    display: block;
    padding: 20px 10px;
    margin-right: 10px;
    color: var(--cor-preta);
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.876rem;
    letter-spacing: .1em;
}

.grid-section {

    grid-column: 2/4;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: 90px 300px 1fr;
    gap: 20px;
    margin-bottom: 4rem;

}

.titulo {
    font-family: 'Playfair';
    font-size: 6rem;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 1rem;
    grid-column: 1/4;
}


.animais-descrição h2 {
    font-family: monospace;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-bottom: 1rem;
    color: #e54;

}

.animais-descrição h2::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 10px;
    margin-right: 10px;
    background-color: var(--backroung-menu);

}

.animais-descrição p {
    font-family: Helvetica, sans-serif;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.animais-lista {
    height: 370px;
    overflow-y: scroll;
    grid-column: 2;
}

.animais-lista::-webkit-scrollbar {
    width: 18px;

}

.animais-lista::-webkit-scrollbar-thumb {
    background: var(--backroung-menu);
    border-left: 4px solid var(--background-cor);
    border-right: 4px solid var(--background-cor);

}

.animais-lista::-webkit-scrollbar-track {
    background: #faf6ed;

}

.animais-descrição {
    grid-column: 3;
}

.animais-descrição section {
    margin-bottom: 3rem;
}

.faq-lista {
    grid-column: 2/4;
}

.faq-lista dt {
    font-family: monospace;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    color: #e54;
}

.faq-lista dt::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background-color: var(--backroung-menu);

}

.faq-lista dd {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: .5rem;
    margin-left: 2rem;

}

.mapa {
    grid-column: 2;
}


.dados {
    grid-column: 3;
}

.dados li {
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.dados li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 10px;
    background-color: var(--backroung-menu);
}

.copy {
    grid-column: 3/5;
}

.copy p {
    font-weight: bold;
    font-family: monospace;
    padding: 20px;
    background: var(--backroung-menu);
}

[data-tab='menu'] {
    cursor: pointer;
}

.js [data-tab="content"] section {
    display: none;
}

.js [data-tab="content"] section.ativo.show-down {
    display: block;
    animation: show-down 1s forwards;
}
.js [data-tab="content"] section.ativo.show-right{
    display: block;
    animation: show-right 1s forwards;
}

@keyframes show-right {
    from {
        opacity: 0;
        transform: translate3d(-20px, 0, 0);
    }

    to {
        opacity: 1;
        transform: translate3d()(0, 0, 0);
    }
}

@keyframes show-down {
    from {
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d()(0, 0, 0);
    }
}



.js [data-anime="accordion"] dd {
    display: none;
}

.js [data-anime="accordion"] dt::after {
    content: '⬎ ';
    margin-left: 10px;
}

.js [data-anime="accordion"] dt.ativo::after {
    content: '⬏';
    margin-left: 10px;
}

.js [data-anime="accordion"] dd.ativo{
    display: block;
    animation: slideDown 1s forwards;
}

.js [data-anime="accordion"] dt{
    cursor: pointer;
}

.js [data-anime="scroll"]{

    opacity: 0;
    transform: translate3d(-30px,0,0);
}

.js [data-anime="scroll"].ativo{
    opacity: 1;
    transition: .3s;
    transform: translate3d(0,0,0);
}

@keyframes slideDown {
    from {
        opacity: 0;
        max-height: 0px;
        /* transform: translate3d(0, -20px, 0); */
    }

    to {
        opacity: 1;
        /* escolho usar max-height  porq ele da a sensacao que o texto ta sendo empurrado pra baixo */
        max-height: 200px;
        /* transform: translate3d(0, 0, 0); */
    }
}









@media (max-width: 700px) {

    body {
        grid-template-columns: 1fr;
    }

    .menu,
    .grid-section,
    .copy {
        grid-column: 1;

    }

    .grid-section {
        grid-template-columns: 100px 1fr;
        gap: 10px;
    }

    .animais-lista {
        grid-column: 1;
    }

    .faq-lista,
    .dados,
    .mapa {
        grid-column: 1/3;
    }

    .grid-section h1 {
        font-size: 3rem;
    }

    .menu {
        margin-top: 0px;
        display: flex;
    }

}