.tooltip{
    position: absolute;
    z-index: 500;
    background: rgba(0, 0, 0, .6);
    box-shadow: 0 0 0 2px #fb5, 0 0 0 6px rgba(0, 0, 0, .6);
    padding: .5rem;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .875rem;
    border-radius: 2px;

    

}